<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include templates/header.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><%=videodata.categoryName%></p>

    <ul>
      <% videodata.categories.forEach(function(item) { %>
        <li> <a href="https://www.thenewboston.com/videos_food.php?"><%=item.categoryName%></a></li>
      <% }); %>
    </ul>

  </body>
</html>
